<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>
<h1> Formulario de Información Personal</h1>
<form th:action="@{/personal-info-save}" th:object="${personalInfo}" method="post">
    <div>
        <label>Nombre: </label>
        <input type="text" id="firstName" th:field="*{firstName}">
    </div>
    <div>
        <label>Apellido: </label>
        <input type="text" id="lastName" th:field="*{lastName}">
    </div>
    <div>
        <label>Titulo: </label>
        <input type="text" id="title" th:field="*{title}">
    </div>
    <div>
        <label>Descripción profesional: </label>
        <input type="text" id="profileDescription" th:field="*{profileDescription}">
    </div>
    <div>
        <label>Apellido: </label>
        <input type="text" id="profileImageUrl" th:field="*{profileImageUrl}">
    </div>
    <div>
        <label>Años de experiencia: </label>
        <input type="text" id="yearsOfExperience" th:field="*{yearsOfExperience}">
    </div>
    <div>
        <label>Email: </label>
        <input type="email" id="email" th:field="*{email}">
    </div>
    <div>
        <label>Número de telefono: </label>
        <input type="text" id="phone" th:field="*{phone}">
    </div>
    <div>
        <label>Linkedin: </label>
        <input type="text" id="linkedinUrl" th:field="*{linkedinUrl}">
    </div>
    <div>
        <label>GitHub: </label>
        <input type="text" id="githubUrl" th:field="*{githubUrl}">
    </div>
    <button type="submit">Guardar</button>
</form>
</body>
</html>