<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Proyectos</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-form-project.css">
</head>
<body>

    <header>
        <div class="container">
            <nav th:insert="fragments/nav :: nav"></nav>
        </div>
    </header>

    <main>
        <div class="container">
            <section id="contact">
                <h2> Formulario de proyectos</h2>
                <form class="contact-form" th:action="@{/projects/save}" th:object="${projectDto}" method="post" enctype="multipart/form-data">

                    <label>Título:</label>
                    <input name="titulo" type="text" th:field="*{title}" placeholder="Titulo:" />
                    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error-message"></div>

                    <label>Descripción:</label>
                    <textarea th:field="*{description}" placeholder="Descripción del proyecto" rows="6"></textarea>
                    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error-message"></div>

                    <label>URL del proyecto</label>
                    <input type="text" id="projectUrl" th:field="*{projectUrl}" placeholder="URL para mostrar el Proyecto" />
                    <div th:if="${#fields.hasErrors('projectUrl')}" th:errors="*{projectUrl}" class="error-message"></div>

                    <label>Selecciona la magen:</label>
                    <input type="file" name="file" />
                    <div th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="error-message"></div>

                    <label>Id personal info:</label>
                    <input type="text" id="personalInfoId" th:field="*{personalInfoId}" placeholder="Id de la relación" />
                    <div th:if="${#fields.hasErrors('personalInfoId')}" th:errors="*{personalInfoId}" class="error-message"></div>

                    <button type="submit">Guardar</button>
                </form>
            </section>
        </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>