<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <section id="contact" th:fragment="contact">
        <h2>Let's talk</h2>
        <form class="contact-form" action="https://formspree.io/f/mvkovngw" method="POST">
            <input name="name" type="text" placeholder="Tu nombre" required>
            <input name="email" type="email" placeholder="Tu correo electrónico" required>
            <textarea name="message" placeholder="Tu mensaje" rows="6" required></textarea>
            <button type="submit">Enviar mensaje</button>
        </form>
    </section>

</body>
</html>