<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Info</title>
</head>
<body>

    <div class="hero-section" th:fragment="hero">
        <h1> Yo soy <span th:text="${personalInfo.firstName} + ' ' + ${personalInfo.lastName}">Nombre</span> <br> <span th:text="${personalInfo.title}">Puesto</span> </h1>
        <div class="profile-image-container">
            <img th:src="${personalInfo.profileImageUrl}" th:alt="${personalInfo.firstName} + 'Profile Picture'" class="profile-picture">
        </div>
        <p th:text="${personalInfo.profileDescription}">Descripción profesional</p>

        <a href="#projects"><button>MIS PROYECTOS</button></a>

    </div>

</body>
</html>